

<body class="bg-light">
    
        <div class="col">
            <div class="card mx-auto card-corpo" id="b-chi">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/escudeiros/Batata Chips 2.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Batata Chips Individual</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Porção Individual de Batata Frita Chips</h5>
                        </div>
                    </div>
                </div>
                <div class="teste container-fluid flex-wrap d-flex align-items-center">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 20,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="btt-c">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/escudeiros/Batata Chips 3.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Batata Chips</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Porção de Batata frita chips.<br><br></h5>
                        </div>
                    </div>
                </div>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 20,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="bc-ccdg">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/escudeiros/Batata Chips com Creme de Gorgonzola e Farofa de Bacon 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Batata Chips com Creme de Gorgonzola e Farofa de Bacon</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Porção de Batata Frita Chips com Creme de Gorgonzola e Farofa de Bacon.</h5>
                        </div>
                    </div>
                </div>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 37,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="bc-ccfb">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/escudeiros/Batata Chips com Cheddar e Farofa de Bacon 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Batata Chips com Cheddar e Farofa de Bacon</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Porção de Batata Frita Chips com Cheddar Cremoso e Farofa de Bacon.</h5>
                        </div>
                    </div>
                </div>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 33,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="ala-b">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/escudeiros/Alabarda 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Alabarda</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Porção de 6 unidades de queijo Gouda empanados, acompanhada de geleia de pimenta da casa.</h5>
                        </div>
                    </div>
                </div>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 33,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="man-g">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/escudeiros/Mangual 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Mangual</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Porção de 6 unidades de bolinhos de carne defumada empanados, acompanhado com geleia de pimenta da casa.</h5>
                        </div>
                    </div>
                </div>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 33,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="man-g">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/escudeiros/Candy Bacon 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Candy Bacon</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Porção de 4 fatias de bacon caramelizado.<br><br></h5>
                        </div>
                    </div>
                </div>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 33,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>