

<body class="bg-light">
    
        <div class="col">
            <div class="card mx-auto card-corpo" id="rc-mh">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/reis/Rei Carlos Magno Humilde 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Rei Carlos Magno Humilde</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Pão de Cará, Hambúrguer de 180g,60g de Queijo
                                Camembert Empanado,Candy Bacon e
                                Maionese Verde. *Possui Opção Vegetariana*</h5>
                        </div>
                    </div>
                </div>
                <a href="#" class="d-flex justify-content-end w-100 AR">
                    <h4>AR</h4>
                    <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-eye" viewBox="0 0 16 16">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.1686 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.18-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                </a>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 61,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="rl-db">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/reis/Rei Ludwig da Baviera 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Rei Ludwig da Baviera</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Pão de Cará,2 Hambúrguer Smash de 90g,Queijo
                                Cheddar ,Candy Bacon ,Maionese de Bacon,Molho
                                Bbq e Picles de....
                                *Possui Opção Vegetariana*</h5>
                        </div>
                    </div>
                </div>
                <a href="#" class="d-flex justify-content-end w-100 AR">
                    <h4>AR</h4>
                    <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-eye" viewBox="0 0 16 16">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.1686 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.18-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                </a>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 46,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="rb-cc">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/reis/Rainha Boudicca 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Rainha Boudicca</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Pão de Cará, 2 Hambúrgueres Smash 90g,Queijo 
                                Cheddar,Farofa de Bacon,Tomate,Alface e Molho
                                Especial com Relish de Pepino. 
                                *Possui Opção Vegetariana*</h5>
                        </div>
                    </div>
                </div>
                <a href="#" class="d-flex justify-content-end w-100 AR">
                    <h4>AR</h4>
                    <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-eye" viewBox="0 0 16 16">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.1686 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.18-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                </a>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 46,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="rr-lth">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/reis/Rei Ragnar Lothbrok 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Rei Ragnar Lothbrok</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Pão de Cará, Hambúrguer de 180g, Cream Cheese,
                                Candy Bacon e Geleia de Pimenta.
                                *Possui Opção Vegetariana*</h5>
                        </div>
                    </div>
                </div>
                <a href="#" class="d-flex justify-content-end w-100 AR">
                    <h4>AR</h4>
                    <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-eye" viewBox="0 0 16 16">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.1686 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.18-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                </a>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 46,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="rde-b">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/reis/Rei Robert De Bruce 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Rei Rorbert De Bruce</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Pão de Cará, Hambúrguer de 180g ,Queijo Cheddar
                                e Cebola Caramelizada no Bbq e Scotch Whisky.
                                *Possui Opção Vegetariana*</h5>
                        </div>
                    </div>
                </div>
                <a href="#" class="d-flex justify-content-end w-100 AR">
                    <h4>AR</h4>
                    <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-eye" viewBox="0 0 16 16">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.1686 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.18-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                </a>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 46,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="ra-pen">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/reis/Rei Arthur Pendragon 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Rei Arthur Pendragon</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Pão de Cará, Hambúrguer de 180g, Creme de 
                                Gorgonzola, Farofa de Bacon e Rúcula.
                                *Possui Opção Vegetariana*</h5>
                        </div>
                    </div>
                </div>
                <a href="#" class="d-flex justify-content-end w-100 AR">
                    <h4>AR</h4>
                    <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-eye" viewBox="0 0 16 16">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.1686 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.18-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                </a>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 46,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto card-corpo" id="ra-ogr">
                <div class="row flex-row-reverse textos-card">
                    <div class="col-12 col-sm-4 image">
                        <img class="pe-sm-2 pt-sm-2" src="../../../static/img/desktop/main/reis/Rei Alexandre, O Grande 1.svg" alt="">
                    </div>
                    <div class="col-12 col-sm-8 texts-c">
                        <div class="card-header bg-transparent border-0"><h4 class="card-title ms-0 ">Rei Alexandre, O Grande</h4></div>
                        <div class="card-body">
                            <h5 class="card-text paragrafo ms-0 ">Pão de Cará, Hambúrguer de 180g,Disco de 
                                Parmesão Chapeado, Cogumelo Salteados
                                 com Alecrim, Maionese de Bacon e couve.
                                *Possui Opção Vegetariana*</h5>
                        </div>
                    </div>
                </div>
                <a href="#" class="d-flex justify-content-end w-100 AR">
                    <h4>AR</h4>
                    <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-eye" viewBox="0 0 16 16">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.1686 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.18-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                </a>
                <div class="teste container-fluid flex-wrap d-flex align-items-center mt-auto">
                    <h4 type="number" class="ms-3 ms-sm-3 mt-auto preço">R$ 46,07</h4>
                    <div class="d-flex align-items-center justify-content-center ms-md-4 ms-sm-0">
                        <div class="d-flex align-items-center justify-content-center me-2">
                            <div class="menos decrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 14H8V16H22V14Z" fill="black" />
                                </svg>
                            </div>
    
                            <input type="number" class="contador fs-3 ps-2 pe-2 text-center border-0" value="0" min="0">
    
                            <div class="mais incrementar">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.2917 13.8333V8H13.7083V13.8333H7.25V16.1667H13.7083V22H16.2917V16.1667H22.75V13.8333H16.2917Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>
                        <div class="btn btn-secondary btn-sm rounded-0 add-cart">Adicionar ao carrinho</div>
                    </div>
                    <div class="excluir ms-auto me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>